[Unit]
Description=nocloud dnsmasq server
Documentation=man:dnsmasq
After=network.target nss-lookup.target systemd-resolved.service nocloud-bridge.service

[Service]
EnvironmentFile=/usr/local/etc/nocloud_net.conf
ExecStart=/usr/bin/env dnsmasq \
  -k -q \
  --domain=nocloud \
  --dhcp-fqdn \
  --dhcp-client-update \
  --local-ttl=0 \
  --listen-address=${bridgeIpAddress} \
  --bind-interfaces \
  --dhcp-range=${bridgeDhcpStart},${bridgeDhcpStop} \
  --dhcp-hostsfile=/usr/local/etc/nocloud-dhcp-hostsfile

[Install]
WantedBy=multi-user.target
